* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.bg-G {
    width: 100%;
    background-image: url(../public/assets/images/bg-img/bg-global1.png);
    background-size: auto;
}
/*......................... Estilos del navbar ..................... */
.bagC {
    background-color: #f0dfc5;
    padding: 30px 5px;
}
nav .centerB {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

.box p {
    text-align: center;
}
div .bagC {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}
div .bagC nav ul {
    margin-bottom: 0;
}
.div2navF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navC {
    font-family: cursive;
    font-size: 22px;
}
div .bagC .div2navF span a {
    font-family: cursive;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 36px;
    text-shadow: 0.5px 0.5px 21px;
}
@media (max-width: 542px) {
    header span a {
        display: none;
    }
    .respn {
        display: block;
    }
    .bagC {
        padding: 30px 15px;
    }
}

/*................... Estilos de la HomePages : Quienes somos .......................... */
.qsomosdivH1 {
    margin-top: 1rem;
    border-radius: 16px;
    background-color: #f0dfc5d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.qsomosdivH {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divH1 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.divH1 p {
    font-size: 18px;
}
.divH1 span {
    font-weight: 600;
    font-size: 21px;
    color: #4f4d4a;
}

.divQimg img {
    /* align-items: center; */
    border-radius: 8px;
    width: 100%;
}
@media (max-width: 991px) {
    .divH1 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .qsomosdivH {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bagrContacF {
        margin-left: 0 !important;
    }
}
/*........................... Estilos del componenete Formulario el contacto.................... */

.dispFlCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fomr-dflexC {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divBuForCo {
    margin-top: 20px;
    text-align: center;
}
.bagrForCon {
    border-width: 5px;
    border-style: solid;
    border-color: #f0dfc5;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(244, 246, 248);
}
.labfC {
    font-size: 22px;
    margin: 12px;
}
.inpf {
    width: 60%;
    padding: 4px 8px;
    border-style: solid;
    border-color: #f0dfc5;
    border-radius: 10px;
}
.BuForCo {
    font-weight: 600;
    padding: 3px 10px;
    font-size: 18px;
    border-style: solid;
    border-radius: 16px;
    transition: 200ms;
}

.BuForCo:hover {
    box-shadow: 1px 1px 3px rgb(72, 71, 71);
}
.pformc {
    font-size: 18px;
    background-color: #f0dfc5;
    padding: 2px 5px;
    border-style: solid;
    border-radius: 13px;
    border-color: #f0dfc5;
}
.divContForm {
    width: 100%;
}
.claswi {
    text-align: center;
    width: 100%;
}

.divUbi img {
    width: 100%;
}

/* .........................Estilos del footer.......................................... */
.divfooter {
    padding: 15px 0;
    background-color: #f0dfc5;
}
.divfooter h2 {
    text-align: center;

    margin: 0;
    padding: 0;
}
.divfooter p {
    color: rgba(0, 0, 0, 0.43);
    text-align: center;
}
.divfooter hr {
    color: gray;
    text-align: center;
    align-items: center;
    width: 90%;
}
.divfooter div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uldiv {
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
li {
    list-style: none;
}
li span {
    color: #4f4d4a;
    font-size: 20px;
}
.uldiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uldiv1 li {
    margin-bottom: 5px;

    color: #4f4d4a;
}
.uldiv li {
    border-radius: 16px;
    margin: 5px;
    padding: 8px;

    cursor: pointer;
    transition: 300ms;
}
.uldiv li:hover {
    background-color: #4f4d4a6e;
}
.divFF {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
}
.divfooter p {
    padding: 0 10px;
}

@media (max-width: 533px) {
    .divFF {
        display: flex;
        flex-direction: column !important;
    }
    .uldiv {
        padding: 0;
    }
}

/* ...................Estilos de la seccion Contactate con nostros del homepages................ */
.bagrContacF {
    border-width: 5px;
    border-style: solid;
    border-color: #f0dfc5;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f4f6f8;
}

/* ....................Estilos Menu............................. */

.divnone {
    width: 80%;
}
.divMenu .Logmenu {
    text-align: center;
    margin-bottom: 20px;
}
.divMenu .Logmen {
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
}

.divMenu {
    padding: 40px 15px;
    margin: 40px 0;
    background-color: #f0dfc5d8;
    border-radius: 15px;
}
.divMenu p {
    font-size: 50px;
    text-shadow: 0.5px 0.5px 21px;
    text-align: center;
    font-family: cursive;
}
.divCmc1 {
    border-style: solid;
    background-color: #f4f6f8;
    border-radius: 16px;
    padding: 10px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}
.menuCont1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuCont1 h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.menuCont1 img {
    width: 100%;
    border-radius: 12px;
}
.menuCont1 li {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 19px;
}

/* .................... Estilos del menu Responsive......................... */

.prueba {
    display: none;
}

.divMen .Logm {
    text-align: center;
    margin-bottom: 20px;
}
.divMen .Log {
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
}

.divMen {
    padding: 40px 0;
    margin: 40px 0;
    background-color: #f0dfc5d8;
    border-radius: 15px;
}
.divMen p {
    font-size: 50px;
    text-shadow: 0.5px 0.5px 21px;
    text-align: center;
    font-family: cursive;
}
.divCmc {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.menuCont {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuCont h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.menuCont img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
.menuCont li {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 19px;
}

@media (max-width: 767px) {
    .divnone {
        display: none;
    }
    .prueba {
        display: block;
    }
    .menuCont {
        width: 100%;
    }
}

/*.............. Estilos de Formulario de Reserva................ */

.contFormR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contFormR span {
    font-family: cursive;
    padding: 6px 22px;
    border-radius: 12px;
    background-color: rgba(240, 255, 255, 0.853);
    margin-top: 55px;
    font-size: 3rem;
}
.tableF {
    padding: 10px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #f0dfc5d8;
}
.tableF label {
    font-size: 23px;
    margin: 10px;
}
.tableF td {
    text-align: end;
}

.tableF input {
    width: 100%;
    padding: 3px 8px;
    font-size: 22px;
    border-style: solid;
    border-radius: 12px;
    border-color: #f0dfc5;
}
.btonForm {
    margin: 30px 0;
    text-align: center;
}
.btonForm button {
    font-weight: 600;
    padding: 3px 10px;
    font-size: 18px;
    border-style: solid;
    border-radius: 16px;
    transition: 200ms;
}
.btonForm button:hover {
    box-shadow: 1px 1px 3px rgb(72, 71, 71);
}
@media (max-width: 467px) {
    .tableF label {
        font-size: 16px;
        margin: 10px;
    }
    .tableF input {
        width: 100%;
        padding: 3px 8px;
        font-size: 15px;
        border-style: solid;
        border-radius: 12px;
        border-color: #f0dfc5;
    }
}

/* ................ Estilos de la tabla de reservas ..............*/

.tableF2 {
    text-align: center;
    width: 100%;
}
.contaTR {
    border-radius: 12px;
    background-color: rgba(240, 255, 255, 0.853);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 30px 0;
    padding: 0 10px;
}
.tableF2 {
    margin: 30px;
}

.tableF2 th {
    font-size: 21px;
}
.tableF2 td {
    font-size: 19px;
}
.tableF2 button {
    padding: 3px 6px;
    margin: 5px;
    border-radius: 8px;
    border-style: solid;
}
.butnEd {
    background-color: #5ad3e2;
}
.butnEl {
    background-color: #ed4734;
}

@media (max-width: 991px) {
    table .tableF2 {
        width: 100%;
    }
    .theE {
        display: none;
    }
    tr .trE:nth-of-type(2n) {
        background-color: inherit;
    }
    tr .tdE:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }
    tbody .tdE {
        display: block;
        text-align: center;
    }
    tbody .tdE:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
    .tdEMb {
        margin-bottom: 8px;
    }
}
